:root {
  --branding-color: aqua;
}
body {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  line-height: 3;
}

nav li.active a {
  font-weight: 600;
}

nav a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
  font-weight: 600;
}
.hero h2 {
  font-weight: 400;
}
h3 {
  font-size: 18 px;
  font-weight: 400;
  line-height: 2;
}

h4 {
  font-size: 36px;
}

p {
  font-size: 16px;
  line-height: 24px;
}
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--branding-color);
  text-align: center;
}
.btn-branding {
  background-color: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
}
.btn-branding-outline {
  border: 1px solid #6c63ff;
  border-radius: 4px;
  color: #6c63ff;
  font-size: 16px;
  padding: 12px 20px;
}

.content h1 {
  font-size: 48px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content p {
  font-size: 14px;
  margin-bottom: 20px;
}

footer .email-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background-color: antiquewhite;
  padding: 30px 60px;
  margin-bottom: 20px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: antiquewhite;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 768px) {
  #project {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h4 {
    font-size: 18px;
  }
  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about-section {
    text-align: center;
  }
  .about-section-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  nav a {
    font-size: 14px;
  }
}
